body {
  margin: 10%;
  font-size: 13px;
  background: #ecf2f8;
}

.contenu {
  display: flex;
}

.droite {
  color: #4c5a70;
  background: #ffffff;
  width: 20%;
}

.left {
  width: 80%;
}

h1 {
  display: flex;
  font-size: 13px;
}

h1 img {
  border: 2px solid white;
  border-radius: 50%;
}

h2 {
  position: relative;
  z-index: 0;
}

h2 img {
  z-index: -1;
  position: absolute;
  margin-left: 62%;
  margin-top: -20%;
  height: 189%;
}

.carte {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
}

.carte p {
  opacity: 70%;
}

.haut {
  display: flex;
  flex-direction: row;
}

.bas {
  display: flex;
}

.daniel {
  background: #7541c8;
  color: #ffffff;
}

.jonathan {
  background: #4c5a70;
  color: #ffffff;
}
.patrick {
  background: #19212e;
  color: #ffffff;
}

.jeannete {
  color: #4c5a70;
  background: #ffffff;
}

.name {
  margin: 10px;
}

.uname {
  margin-top: 10px;
  opacity: 50%;
}

@media screen and (width: 375px) {
  .contenu {
    display: flex;
    flex-direction: column;
  }
  .carte {
    width: 100%;
  }
  h1 {
    font-size: 11px;
    position: relative;
    z-index: 1;
  }
  h1 img {
    height: 45px;
  }
  h2 img {
    margin-left: 49%;
    margin-top: -40%;
    height: 86%;
  }

  .uname {
    margin-top: 6px;
  }

  .haut {
    display: flex;
    flex-direction: column;
  }

  .bas {
    display: flex;
    flex-direction: column;
  }

  .droite {
    width: 80%;
  }
}
